footer{
    margin-top: 5rem;
    .container{
        .footer__content{
            gap: 100px;
            .footer__lists{
                width: 33%;
                justify-content: space-around;
            .footer__pages,.footer__services{
                ul{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    li{
                        a{
                            color: black;
                        }
                    }
                }
            }
        }
            .footer__icon{
                width: 33%;
                justify-content: space-between;
                flex-direction: column;
                .logo{
                    align-items: center;
                }
                .icons{
                    gap: 54px;
                }
            }
            .footer__contact{
                width: 33%;
                &__data{
                justify-content: space-between;
                flex-direction: column;
                gap: 50px;
                p{
                    padding-right:45px;
                }
                }

            }
        }
        .footer__text{
            margin-top:100px;
            text-align: center;
        }
    }
}