footer{
    .container{
        .footer__content{
            justify-content: space-between;
            .footer__pages,.footer__services{
                ul{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        a{
                            color: black;
                        }
                    }
                }
            }
            .footer__icon{
                justify-content: space-between;
                flex-direction: column;
                .logo{
                    align-items: center;
                }
                .icons{
                    gap: 54px;
                }
            }
            .footer__contact{
                justify-content: space-between;
                flex-direction: column;

            }
        }
        .footer__text{
            margin-top:100px;
            text-align: center;
        }
    }
}