main{
    .banner{
        img{
            border-radius: 0% 0% 0% 15%;
        }
        margin: 0;
        position: relative;
        .container{
            .banner__content{
                position: absolute;
                top: 30%;
                max-width:29%;
                display: flex;
                flex-direction: column;
                gap: 14.8px;
            .banner__content--button{
                a{
                button{
                    border-radius: 18px;
                    border: none;
                    background-color: #292F36;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    padding: 1rem;
                    box-shadow: 0px 10px 20px 0px rgba(192,192,192,0.35);
                    p{
                        font-size: 18px;
                        font-family: jost-normal;
                        color: white;
                    }
                }
            }
            }
            }
        }
    }
    .our__plans{
        .container{
            padding: 0px 22px;
            .card__div{
            gap: 42px;
                .card{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 33%;

                .card__button{
                    display: flex;
                    justify-content: center;
                    a{
                        button{
                            border: none;
                            background: none;
                            display: flex;
                            gap: 5px;
                            align-items: center;
                           
                        }
                    }
                }
                }
            }
        }
    }
    .contact__us{
        .container{
            .contact__content--div{
                gap: 75px;
            .left__div{
                width:50%;

                .left__div--heading{
                    padding-right: 52px;
                    margin: 43px 33px 0px 0px;
            }
            .left__div--para{
                margin-bottom: 45px;
            }
            .left__div--call
            {
                
                align-items: center;
                gap: 15px;
                margin-bottom: 47px;
                p{
                    b{
                        font-size: 24px;
                    }
                    .right__div{
                        width: 50%;
                        img{
                            border-radius: 0% 40%;
                        }
                    }
                }
            }
            .left__div--button{
                a{
                button{
                    border-radius: 18px;
                    border: none;
                    background-color: #292F36;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    padding: 1rem;
                    box-shadow: 0px 10px 20px 0px rgba(192,192,192,0.35);
                    p{
                        font-size: 18px;
                        font-family: jost-normal;
                        color: white;
                    }
                }
            }
            }
            }
        }
    }
    }
    .brand__div{
        .client__logo
        {
         justify-content: space-between;
         align-items: center;
         padding: 0px 55px;
        }
    }
    .about__us{
        .about__us--content{
            background-color: #F4F0EC;
            padding: 40px 0px;
            .content__heading{
                text-align: center;
                width: 547px;
                margin: 0 auto;
            }
            .cards{
                margin-top: 38px;
                padding: 0px 25px;
                gap: 20px;
                .card{
                    padding: 90px 37px;
                    width: 33%;
                    border-radius: 20px;
                    background-color: white;
                    .card__top{
                        align-items: center;
                        gap: 10px;
                        img{
                            border-radius: 50%;
                        }
                    }
                    .card__bottom{
                        p{
                            margin-top: 24px;
                        }
                    }
                }
            }
        }
    }
    .our__project{
        .heading{
            width: 737px;
            margin: 0 auto;
            text-align: center;
        }
        .project__cards{
            flex-wrap: wrap;
        gap: 104px;
            .project__card{
                width: 45%;
        .project__card--top{
            .img1{
                border-radius: 0% 15% 0% 0%;
            }
            .img2{
                border-radius: 15% 0% 0% 0%;
            }
            .img3{
                border-radius: 0% 0% 15% 0%;
            }
            .img4{
                border-radius: 0% 0% 0% 15%;
            }
        }
        .project__card--bottom{
            justify-content: space-between;
            padding-top: 10px;
            .btn{
                border: none;
                border-radius: 50%;
            }
        }
    }
    }
    }
    .blog{
        .container{

            .blog__heading{
                    width: 737px;
                    margin: 0 auto;
                    text-align: center;
            }
           .blog__cards{
            margin-top: 20px;
            .blog__card{
                width: 33.3%;
                padding: 21px;
                position: relative;
                border-radius: 62px;
                border: 1px solid #E7E7E7;
                box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
                .blog__card--top{
                    border-radius: 10px 10px 0px 0px;
                    img{
                        border-radius: 15% 15% 0 0;
                    }
                }
                .blog__card--bottom{
                  .design__type{
                    position: absolute;
                
                        width: max-content;
                    padding: 5px 3px;
                    background: white;
                    top: 58%;
                    left: 10%;
                    }
                }
                 h3{
                    margin-top: 20px;
                    width: 305px;
                 }
             .date{
                align-items: center;
                justify-content: space-between;
                button{
                    background: none;
                    border:none;
                }
             }
            }
            }
        }

    }
    .contact{
        .contact__card{
            background-color: black;
            color: white;
            text-align: center;
            padding: 3rem;
            border-radius: 25px;
            .card__button{
                display: flex;
                justify-content: center;
                a{
                    button{
                        // border: none;
                        // background: #CDA274;
                        // display: flex;
                        // gap: 5px;
                        // align-items: center;
                        margin-top: 32px;
                        border-radius: 18px;
                        border: none;
                        background-color: #CDA274;
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        padding: 1rem;
                        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
                        p{
                            font-size: 18px;
                            color: white;
                            font-family: jost-normal;
                        }
                       
                    }
                }
            }

        }
    }
    .background__div{
        background-color: #F4F0EC;
        .counter{
            justify-content: space-around;
            padding: 9.5rem 0rem;
            .counter__text{
                padding: 0px 40px;
                border-right:1px solid #CDA274;
                h2{
                    text-align: center;
                    color: #CDA274;
                }
               
            }
        }
    }
}