@font-face {
    font-family: DM serif Display;
    src: url(../vendor/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family:jost-normal;
    src: url(../vendor/fonts/Jost/Jost-VariableFont_wght.ttf);
}

/* Inside your CSS file (e.g., styles.css) */
@font-face {
    font-family: 'Slick';
    src: url('../vendor/fonts/slick.woff') format('woff'),
         url('../vendor/fonts/slick.ttf') format('truetype');
}